body {
    font-family: Arial;
    background-color: #fff0f5;
    margin: 0;
    text-align: center;
}

header {
    background-color: #ffc0cb;
    text-align: center;
    padding: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color :#ffc0cb;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;

}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ff69b4;
}

/* Product Layout */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.product {
    background: white;
    padding: 15px;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 0 10px lightgray;
    transition: 0.3s;
    text-align: center;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product p {
    color: #ff1493;
    font-weight: bold;
}
section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

section ul li {
    margin: 10px 0;
}

section ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.occasion-section {
    text-align: center;
    margin-top: 40px;
}

.occasion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.occasion-card {
    text-decoration: none;
    background: #f3f3f3;
    padding: 15px 20px;
    width: 260px;
    border-radius: 12px;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 8px lightgray;
    transition: 0.3s;
}

.occasion-card:hover {
    background: #ffe4ec;
    transform: scale(1.05);
}
h2{
    text-align: center;
}